.body {
  height: 1400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-image: url(pictures/PartyHaloween.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  
}
.img-main {
  width: 980px;
}