.main {
  border-style: solid;
  border-width: 20px;
  border-color: rgb(0, 0, 0);
  margin-left: 1%;
  margin-right: 1%;
}
.body {
  border-style: solid;
  border-top-width: 1.5px;
  border-bottom-width: 1.5px;
  border-right-width: 1.5px;
  border-left-width: 1.5px;
  border-radius: 20px;
  border-color: rgb(146, 118, 24);
  height: 1400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-image: url(PartyHaloween.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  
}
.img-main {
  width: 980px;
}
.textbox {
  font-family: 'Kanit', sans-serif;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  margin-top: 50px;
  height: 400px;
  width: 414.45px;
  background-color: rgba(0,0,0,.6);
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.textbox h2 {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.textbox-text {
  width: 376px;
  margin-left: auto;
  margin-right: auto;
}
.image-container {
  height: 220px;
  width: 374px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  position: relative;
}
.image-container:hover .hint {
  opacity: 1;
}
.hint:hover {
  opacity: 0;
  cursor: pointer;
}
.hint {
  margin: 0px;
  padding-left: 5px;
  padding-right: 5px;
  bottom: -30px;
  left: 117.79px;
  opacity: 0;
  position: absolute;
  background-color: rgb(51, 51, 51);
  border-radius: 4px;
  pointer-events: none;
}
.textbox a {
  height: 220px;
  width: 374px;
  
  display: block;
}
.textbox img {
  opacity: .9;
  height: 220px;
  border-radius: 20px;
}
.location-img:hover {
  outline: 1px solid blue;
  opacity: .7;
  cursor: pointer;
}